<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  {% block head %}
  <title>Page D'Inscription</title>
  <link href="{{asset('assets')}}/css/style7.css" rel="stylesheet">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
{% endblock %}
</head>
<body>
<!-- partial:index.partial.html -->
<h2> Inscription </h2>
<script>

  function checkForm(form)
  {
    
    if(!form.terms.checked) {
      alert("Please indicate that you accept the Terms and Conditions");
      form.terms.focus();
      return false;
    }
    return true;
  }

</script>

<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="#">

			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
			<span>or use your email for registration</span>
			<input type="text" placeholder="Name" />
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Password" />


			<button>Sign Up</button>
		</form>

	</div>
	 <div class="form-container sign-in-container">
			{# {{ form_start(registrationForm) }}
				<input type="hidden" >{{ form_row(registrationForm.email, { 'attr': {'class': 'hidden-row'} }) }}
				<div id="divCheckbox" style="visibility: hidden; display:inline;">{{ form_row(registrationForm.password) }} </div>
				{{ form_row(registrationForm.name) }}
				{{ form_row(registrationForm.surname) }}
				{{ form_row(registrationForm.image) }}
			<button type="submit">Register!</button>
			{{ form_end(registrationForm) }}
	 
	 id="divCheckbox" style="visibility: hidden; display:inline;"
	  				<div id="divCheckbox" style="visibility: hidden; display:inline;">{{ form_row(registrationForm.password) }} </div> #}


	   {{ form_start(registrationForm) }}
				<div style="display:none;" >{{ form_row(registrationForm.roles) }} </div> 
				
				<div style="display:none;">{{ form_row(registrationForm.status) }}!</div>
				{{ form_row(registrationForm.email) }}	
				{{ form_row(registrationForm.password) }}
				{{ form_row(registrationForm.name) }}
				{{ form_row(registrationForm.surname) }}
				{{ form_row(registrationForm.image) }}
				
				<input class="form-check-input" type="checkbox" value="" id="agreeTerms">
				<label class="form-check-label" window.location.href = "/condition" for="defaultCheck1">
					<a  href="/condition" >j'ai lu et j'accepte les conditions générales d'utilisation</a>
				</label>
					<button type="submit">Register!</button>
			
			{{ form_end(registrationForm) }}	 
				
				 
				{# <form  onsubmit="return checkForm(this);">
				
				<p><input type="checkbox" name="terms"> I accept the <u>Terms and Conditions</u></p>
				<p><input type="submit"></p>
				</form> #}
			
           <div class="col-md-2">
                <button class="btn btn-block btn-primary">{{ button_label|default('Save') }}</button>
            </div>
	</div> 


	<div class="overlay-container">
		<div class="overlay">

			<div class="overlay-panel overlay-right">
				<h1> Bonjour </h1>
				<p>  vous etes déja un utilisateur </p>
			<a href="{{path('app_login')}}" class="ghost" id="signUp" style='color:white; border:solid 1 px white; border-raduis:25%'> Login</a>
			</div>
			</div>
		</div>
	</div>
</div>

<!-- partial -->


</body>
</html>




</body>
</html>